<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title><%= subject %></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name='author' content="<%= name %>">
<meta name='description' content="<%= subject %>">
@@include('header.html')
<link rel="stylesheet" type="text/css" href="<%= path.css %>flex.css"/>

</head>
<body>
    <div id="bannerAppDownload"
        data-config='{"dvty":"MOBILE","isSamsung":""}'
    >
    </div>
    <div class="wrap">
        <h1><%= subject %></h1>
        <h2>20180318 작성자 : <%= name%></h2>
    </div>
    <div class="flex-parent">
        <% _.each(textList,function(text,idx){ %>
            <div class="flex-child child-<%= idx %>">
                <%=text%>
            </div>
        <% })%>
    </div>
</body>
</html>
